HTML,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.app--main {
  margin: auto;
  height: auto;
  width: 75%;
  font-family: "Poppins", sans-serif;
}

/* HEADER STARTS */
.header--main {
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffcf4;
  border-radius: 15px;
  border: 1px solid #34571a;
  margin-top: 15px;
  box-shadow: 1.5px 3px;
}

.header--logo {
  display: flex;
  gap: 15px;
  color: #34571a;
}
.header--logo > img {
  width: 100px;
  height: 100px;
  margin-left: 15px;
}

.header--navigation {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-around;
  margin: 15px;
  /* border: 2px solid red; */
}

.header--navigation > h3 {
  color: #34571a;
}

/* HEADER ENDS */
/* CATEGORIES STARTS */

.category--main {
  /* border: 1px solid #34571a; */
  margin: 15px 0 15px 0;
  background-color: white;
  border-radius: 15px;
  /* box-shadow: 1.5px 3px; */
}

.category--main-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px #34571a solid;
  border-radius: 15px;
  margin: 5px;
  background-color: #fffcf4;
  box-shadow: 1.5px 3px;
}

.category--main-div:hover {
  cursor: pointer;
}
.category--main-item > h4,
p {
  margin: 0;
  margin-bottom: 15px;
}

.category--main-item > img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}

/* CATEGORIES ENDS */
/* RESTAURANTS STARTS */
.restaurants--main {
  max-height: 1300px;
  overflow-y: auto;

  display: grid;
  justify-content: center;
  column-gap: 15px;
  /* grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto; */
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  margin-bottom: 15px;
}

.restaurant-card--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 400px;
  background-color: #fffcf4;
  border-radius: 15px;
  border: 1px solid #34571a;
  margin: 5px 0 5px 0;
  box-shadow: 1.5px 3px;
  transition: all 0.4s ease-in-out;
}

.restaurant-card--main:hover {
  cursor: pointer;
  background-color: #e6ffe6;
  box-shadow: 4.5px 9px;
}

.restaurant-card--main > img {
  object-fit: cover;
  width: 200px;
  max-height: 100px;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 5px;
}

.restaurant-card--categories {
  border: 1px solid black;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  border-radius: 15px;
}

.restaurant-card--categories > p {
  margin: 1px;
}

.restaurant-card--description {
  font-style: italic;
  margin-bottom: 5px;
}

.restaurant-card--price-class {
  margin-bottom: 15px;
}
/* RESTAURANTS ENDS */
/* RESTAURANT PROFILE STARTS */
.restaurant-profile--container-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
}
.restaurant-profile--main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 400px;
  background-color: #fffcf4;
  border-radius: 15px;
  border: 1px solid #34571a;
  box-shadow: 1.5px 3px;
}

.restaurant-profile--main > p {
  margin: 5px 0 5px 0;
}

.restaurant-profile--category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 15px 0 15px 0;
  background-color: #fff;
}

.restaurant-profile--main > img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.restaurant-profile--category-container > p,
h4 {
  margin: 3px 0 3px 0;
}

.restaurant-profile--order-history-main {
  border: 2px solid black;
  height: 350px;
  overflow-y: scroll;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RestaurantOrderHistory--main {
  border-radius: 15px;
  border: 1px solid #34571a;
  box-shadow: 1.5px 3px;
  width: 75%;
  margin-bottom: 15px;
  padding-left: 10px;
  background-color: #fffcf4;
}
/* RESTAURANT PROFILE ENDS */
/* MENU STARTS */

.menu--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 35%;
  height: 600px;
  overflow-y: auto;
  flex-direction: column;
  background-color: #fffcf4;
  border-radius: 15px;
  border: 1px solid #34571a;
  box-shadow: 1.5px 3px;
}

.menu--main > div {
  text-align: center;
}
.dish-card--main {
  width: 75%;
  margin: auto;
  /* margin: 10px 0 10px 0; */
  border: 1px solid #34571a;
  border-radius: 15px;
  /* padding: 5px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: 1.5px 3px;
  background-color: #fff;
  margin-bottom: 10px;
}

.dish-card--info-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.dish-card--main:hover {
  background-color: #e6ffe6;
  transform: scale(1.1);
}

.dish-card--main > img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 15px;
}

/* MENU ENDS */
/* PROFILE STARTS*/
.profile--main {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
}

.profile--container {
  display: flex;
  justify-content: space-around;

  margin-bottom: 15px;
}
.profile--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #34571a;
  background-color: #fffcf4;
  width: 275px;
  height: 300px;
  overflow-y: auto;
  border-radius: 15px;
  box-shadow: 1.5px 3px;
}

.profile--orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #34571a;
  background-color: #fffcf4;
  width: 375px;
  height: 300px;
  overflow-y: auto;
  border-radius: 15px;
  box-shadow: 1.5px 3px;
}

.profile--buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 275px;
}

.profile--buttons > button {
  width: 100%;
  height: 5vh;
  border-radius: 15px;
  margin: 10px;
  font-size: large;
  box-shadow: 1.5px 3px;
  background-color: #fffcf4;
}

.profile--buttons > button:active:hover {
  background-color: #fff;
  box-shadow: 0px 0.5px;
  transform: translate(x, y);
}

.profile--my-restaurants {
  height: 415px;
  width: 100%;
  overflow-y: auto;
  display: grid;
  justify-content: center;

  grid-template-columns: auto auto auto auto auto;
}
/* PROFILE ENDS */
/* FOOTER STARTS */

.footer--main {
  background-color: #fffcf4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #34571a;

  margin-bottom: 15px;
  box-shadow: 1.5px 3px;
}

.footer--main > p {
  margin-top: 15px;
}

/* FOOTER ENDS */
/* USER REGISTRATION STARTS */
.user-registration--main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 60vh;
  background-color: #fffcf4;
  margin-bottom: 15px;
  border-radius: 15px;
}

.user-registration--main > form > input[type="text"] {
  width: 100%;
}

.user-registration--main > form > button {
  width: 100%;
  height: 30px;
}

.user-registration--valid {
  color: limegreen;
  margin-left: 0.25rem;
}
.user-registration--invalid {
  color: red;
  margin-left: 0.25rem;
}
.user-registration--instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}
.user-registration--offscreen {
  position: absolute;
  left: -9999px;
}

.user-registration--hide {
  display: none;
}

.user-registration--errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

/* USER REGISTRATION ENDS */
/* LOGIN STARTS */
.login--main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 30vh;
  background-color: #fffcf4;
  margin-bottom: 15px;
  border-radius: 15px;
}

.login--main > form > input {
  width: 175px;
}

.login--main > form > button {
  margin: 15px 0 15px 0;
  width: 100%;
  height: 30px;
}
/* LOGIN ENDS */
/* DISH PROFILE STARTS (before adding to cart)*/

.dishProfile--main-container {
  height: 48vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dishProfile--main {
  width: 30%;
  height: 65%;
  display: flex;
  padding: 0 5px 0 5px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 15px;
  border: 1px solid #34571a;
  box-shadow: 1.5px 3px;
  background-color: #fffcf4;
}

.dishProfile--dish-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dishProfile--buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.addButton {
  height: 40px;
  width: 115px;
  font-size: large;
}

.addButton:hover {
  background-color: green;
}

.deleteButton {
  width: 40px;
  height: 40px;
  font-size: large;
}

.deleteButton:hover {
  background-color: red;
}

.dishProfile-buttons--buttons {
  width: 40px;
  height: 40px;
  font-size: large;
}

/* DISH PROFILE ENDS*/
/* CREATE NEW DISH STARTS*/
.create-new-dish--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;
  height: 500px;
}

.create-new-dish--form {
  margin: 15px;
  height: 70%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border: 1px solid #34571a;
  border-radius: 15px;
}
.create-new-dish--form > label {
  margin: 5px;
}

.create-new-dish--form > input,
textarea {
  margin: 0px 5px 0px 5px;
}

/* CREATE NEW DISH ENDS*/
/* CART STARTS */

.cart--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 1210px;
  height: 720px;
  margin: auto;
}

.cart-section--container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  /*justify-content: center;*/
  align-items: center;
  width: 610px;
  border-radius: 15px;
  border: 1px solid #34571a;
  box-shadow: 1.5px 3px;

  height: 655px;
  overflow: auto;
}

.cart-section--order-price {
  display: flex;
  width: 610px;
  height: 65px;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0 15px 0;
  align-items: center;
  background-color: #fffcf4;
  border: 1px solid #34571a;
  box-shadow: 1.5px 3px;
  border-radius: 15px;
}

.cart-section--order-price > button {
  width: 180px;
  height: 40px;
  font-size: large;
  font-weight: bold;
  border-radius: 15px;
}

.cart-section--order-price > button:hover {
  background-color: green;
  cursor: pointer;
}

/* CART ENDS*/
/* CART CARD STARTS */
/* .cart-card--main {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  max-width: 100%;
  overflow: auto;
} */

.cart-card--main-container {
  background-color: #fffcf4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 270px;
  width: 450px;
  border: 1px solid #34571a;
  box-shadow: 1.5px 3px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.cart-card--main-container > h3 {
  margin: 5px 0 5px 0;
}

/* CART CARD ENDS */
